.sample-photos {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;

	li {
		display: inline-block;
		vertical-align: middle;
		padding: 0 10px 10px 0;

		a {
			display: block;
			width: 128px;
			height: 128px;
			position: relative;
			overflow: hidden;
			white-space: nowrap;
			text-indent: 200%;
			background-position: center;
			background-size: cover;
			border: solid 1px #000;

			&[data-localmap="active"] {
				opacity: 0.7;
			}
		}
	}
}
