.sample-photos {
	list-style-type: none;
	padding: 0;

	li {
		display: inline-block;
		vertical-align: middle;
		margin: 0 10px 10px 0;

		a {
			display: block;
			width: 128px;
			height: 128px;
			position: relative;
			overflow: hidden;
			white-space: nowrap;
			text-indent: 200%;
			background-position: center;
			background-size: cover;
		}
	}
}
