$color-background: #ffffff;
$color-text: #1e1e1e;
$color-passive: #ff6a00;
$color-active: #d45800;
$color-hover: #ff9800;
$color-disabled: #7f7f7f;
$color-highlight: #eeeeee;
@mixin clearfix () {
	&:after {
		clear: both;
		content: '';
		display: table;
	}
}
@mixin border-box {
	box-sizing: border-box;

	*,
	*:after,
	*:before {
		box-sizing: border-box;
	}
}
@mixin time-estimate {
	display: inline-block;
	background-color: #1B5E20;
	color: #F0F4C3;
	font-style: normal;
	font-size: 0.875em;
	padding: 0 5px;
	margin: 0;
	opacity: 0.5;
	position: absolute;
	right: 0;
	top: 0;
}
